---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import PageLayout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog-en/ListEn.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import { headerData as headerEn, footerData as footerEn } from '~/navigation.en';

import { blogListRobots, getStaticPathsBlogListByLang } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogListByLang({ paginate }, 'en');
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: { type: 'blog' },
};
---

<PageLayout metadata={metadata} lang="en" headerOverride={headerEn} footerOverride={footerEn}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="News, tutorials, and thoughts from Lilivi">The Blog</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayout>

